<!DOCTYPE html>
<html>
  <%include header%>
  <body>
    <%include navbar%>
    <div class="container-fluid">
      <div class="row">
        <%include menus%>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Hello</h1>
        </div>
      </div>
    </div>
    <%include footer%>
    <script>
      $(document).ready(function () {
        $('#files').addClass('active');
      });
    </script>
  </body>
</html>
