<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel=stylesheet href=//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css>
    <link rel=stylesheet href=//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css>
    <link rel=stylesheet href=/assets/css/app.f8ae37f0e58b937da718c0d8a4ea470d.css>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id=app></div>
    <script src=//cdn.bootcss.com/jquery/1.11.3/jquery.min.js></script>
    <script src=//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js></script>
    <script src=/assets/js/manifest.727077a7e0dda430d2f3.js></script>
    <script src=/assets/js/vendor.fd9041d25d20045a2f8b.js></script>
    <script src=/assets/js/app.456b06effd7a67a36197.js></script>
  </body>
</html>
